{% extends "base.html" %}

{% block content %}

    <style>
        textarea {
            margin: 10px;
            width:200px;
            height:120px;
        }
        .error{color:red;}
    </style>

    <h1 style="text-align:center">Add a Blog Entry</h1>

    <form method='post'>
        <p>Title for your new blog:</p>
        <input type="text" name='blog' value="{{ request.form['blog'] }}"/>
        <span class="error">{{title_error}}</span>

        <br><br>

        <p>Your new Blog:</p>
        <textarea name="body">{{ request.form['body'] }}</textarea>
        <span class="error">{{body_error}}</span>

        <br><br>

        <input type="submit" value='Add Entry' />
        
    </form>


{% endblock %}